body {
    background-color: #40375c;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: flex;
    height: 100vh;
}

#container section {
    position: relative;
    display: grid;
    background-color: #5a4f7c;
    width: 400px;
    margin: auto auto;
    padding: 50px 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, .2);
    text-align: center;
    align-items: center;
}

.celsius, .submit, .fahrenheit {
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 6px;
    outline: none;
}

.celsius, .fahrenheit {
    background-color: rgba(255, 255, 255, .03);
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, .1);
}


.fahrenheit:hover {
    cursor: text;
}

.clipboard {
    position: absolute;
    top: 62.5%;
    left: 80%;
}
  
.clipboard .clipboardText {
    position: absolute;
    visibility: visible;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    padding: 5px;
    font-size: 13px;
    border-radius: 6px;
    left: 186%;
    top: -15%;
    opacity: 0;
    text-align: center;
    transition: opacity .2s;
}
.clipboard:hover .clipboardText {
    visibility: visible;
    opacity: 1;
}

h1 {
    margin: 0 0 50px;
    color: #fff;
    font-size: 19px;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, .3);
}

section h3 {
    margin: 5px 0 0;
    color: rgba(255, 255, 255, .9);
    font-size: 16px;
    font-weight: 400;
}

.submit {
    width: 70%;
    margin: 15px auto 0;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 16px -10px rgba(68, 67, 67, .1);
    transition: .25s;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.submit:hover {
    background-color: #f5a623;
}

.submit.disabled:hover {
    background-color: #f14235;
}

section img {
    position: relative;
    background: none;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    outline: none;
    cursor: pointer;
    user-select: none;
}

section img:hover {
    transform: scale(1.05)
}